#todos
  .right-col
    float: right

  .col-md-3
    float: left
    .list-group
      width: 100%
      .list-group-item
        .remove-button
          float: right
          cursor: pointer
          opacity: 0
          transition: opacity 0.2s
        &:hover
          .remove-button
            opacity: 1
      &.selected
        width: 200px
        transition: width 0.5s
