.item-enter
  opacity: 0.01
  transition: opacity 1s ease-in
  &.item-enter-active
    opacity: 1
.item-leave
  transition: opacity 0.5s ease-in
  opacity: 1
  &.item-leave-active
    opacity: 0.01
#todos
  .todo-list-items
    float: right
    width: 75%
    .add-list-item
      padding: 11px
    .todo-list-item
      list-style: none
      .panel
        margin-bottom: 5px
      h4
        display: inline
      .done-button
        padding: 0 5px
      .remove-button
        margin-left: 80%
        cursor: pointer
        opacity: 0
        transition: opacity 0.2s
      &:hover
        .remove-button
          opacity: 1
  .lists-block
    float: left
    width: 100%
    transition: width 0.5s
    &.selected
      width: 25%
    .list-group
      .list-group-item
        .edit-input
          display: none
        &.editing
          h4
            display: none
          .edit-input
            display: block
        .edit-button
          float: right
          cursor: pointer
          opacity: 0
          transition: opacity 0.2s
        .remove-button
          float: right
          cursor: pointer
          opacity: 0
          transition: opacity 0.2s
        &:hover
          .edit-button
            opacity: 1
          .remove-button
            opacity: 1

